body {
    background-color:azure;
    
    
}

header {
    width: 100%;
    padding: 15px;
    position: fixed;
    display: inline-flex;
    background-color: lightblue;
    z-index: 1;
}

.imgHeader {
    height: 165px;
    width: 165px;
    display: inline-block;

}

nav {
    margin-right: 10%;
    right: 10px;
    top: 10px;
    position: absolute;
    
}

.headerButton {
    background: #3a6aee;
    color: AZURE;
    border-style: outset;
    border-color: #0066A2;
    font: bold 15px arial, sans-serif;
    display: inline;    
    height: 40px;
    width: 95px;
}

.headerButton:hover {
    background: #0066ffaf;
    color: AZURE;
    border-style: outset;
    border-color: #0066A2;
    height: 40px;
    width: 95px;
    font: bold 15px arial, sans-serif;
}

.headLine {
    top: 10px;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}

h1 {
    font-family: 'Inter';
    font-size: 48px;
    position: relative;
    display: inline-block;
    margin-top: 50px;

}

h3 {
    vertical-align: top;
    position: relative;
    top: 220px;
    margin: 10px auto;
    font-size: 20px;
}

em {
    font-size: 22px;
}

.textOnTheLetf {
    vertical-align: top;
    text-align: left;
    display:inline-block;
    width: 63%;
    position: relative;
    top: 220px;
    font-size: 16px;
}   
.imgOnTheRight {
    position: relative;
    margin:5px;
    right: 0%;
    position: relative;
    top: 220px;

	
}
.popUpWindow {
    display: inline-block;
    position: fixed; 
    align-items:center;
    right: 86px;
    top: 62px;    
    z-index:2;
    background-color: lightblue;

    
}


#login {
    text-align: left;
    font-weight: bold;
    font-size: 18px;

}
#password {
    text-align: left;
    font-weight: bold;
    font-size: 18px;
}

#userLogin {
    width: 150px;
    height: 25px;
    background: azure;
    mix-blend-mode: normal;
    border: 3px solid #000000;
    box-sizing: border-box;
    text-align: center;
}

#userPassword {
    width: 150px;
    height: 25px;
    background: azure;
    mix-blend-mode: normal;
    border: 3px solid #000000;
    box-sizing: border-box;
    text-align: center;
}