body {
    background-color:azure;
    
}

header {
    width: 940px;
    margin: 10px auto;
}

.imgHeader {
    height: 150px; 
    width: 150px; 
    display: inline-block;
    
}

nav {
    margin-right: 20%;
    position: absolute;
    right: 10px;
    top: 10px;
}

.headerButton {
    background: #3a6aee;
    color: AZURE;
    border-style: outset;
    border-color: #0066A2;
    font: bold 15px arial, sans-serif;
    display: inline;    
    height: 40px;
    width: 95px;
}

.headerButton:hover {
    background: #0066ffaf;
    color: AZURE;
    border-style: outset;
    border-color: #0066A2;
    height: 40px;
    width: 95px;
    font: bold 15px arial, sans-serif;
}

.headLine {
    top: 10px;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}

h1 {
    font-family: 'Inter';
    font-size: 42px;
    text-align: center;
    


}

h2 {
    width: 350px;
    height: 92px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #000000;
}

.textOnTheLetf {
    vertical-align: top;
    text-align: left;
    display:inline-block;
    width: 63%;
}   
.imgOnTheRight {
    display: inline;
}
.popUpWindow {
    width: 500px;
    height: 500px;
    display: -webkit-flex;
    align-items:center;
    left:30%;
    top:30%;       
    justify-content: center;
    position: absolute;

    
}

#loginFrame {
    width: 407px;
    height: 380px;
    border: 5px solid #000000;
    box-sizing: border-box;
    background-color: #FFFFFF;

}

#login {
    text-align: left;
    font-weight: bold;
    font-size: 26px;

}
#password {
    text-align: left;
    font-weight: bold;
    font-size: 26px;
}

#userLogin {
    width: 383px;
    height: 30px;
    background: azure;
    mix-blend-mode: normal;
    border: 3px solid #000000;
    box-sizing: border-box;
    text-align: center;
}

#userPassword {
    width: 383px;
    height: 30px;
    background: azure;
    mix-blend-mode: normal;
    border: 3px solid #000000;
    box-sizing: border-box;
    text-align: center;
}