h1 {

    font-family: 'Inter';
    font-size: 42px;
    text-align: center;
    


}

h2 {

    width: 350px;
    height: 92px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;

    color: #000000;
}

