.footer__section {
    margin: 0px 20px;
    background-color: var(--divBoxBackground);
    border-radius: 0 0 20px 20px;
    height: 1rem;
}

.footer__div {
    padding: 0em 1em 1em 0.3em;
}

.footer__section h2 {
    text-align: left;
    font-size: 1.5em;
    color: var(--mainBackground);
}