.main__section {
    height: 50rem;
    margin: 0 20px;
    background-color: var(--mainBackground);
    border-width: 0 0.2rem;
    border-style: solid;
    border-color: var(--divBoxBackground);
}

.main__img__profile {
    top: 5%;
    padding: 0px 0.85em;
    position: absolute;
    border-radius: 95px;
    height: 240px;
    width: 230px;
}

.main__div__box  {
    position: absolute;
    width: 16rem;
    height: 19rem;
    top: 25px;
    background-color: var(--divBoxBackground);
    border-radius: 20px 0 0 0;
}

.main__div__info {
    padding: 0.5rem;
    position: absolute;
    width: calc(100% - 1.2em);
    top: 300px;
    background-color: var(--divInfoBackground);
    border-style: solid;
    border-width: 0.2em 0.2rem 0.2rem 0;
    border-color: var(--divBoxBackground);
    border-radius: 0 0 20% 0;    
}

.main__div__info ul {
	color:  var(--mainBackground);
}

.main__div__info li {
	font-size: 1rem;
    display: inline-flex;
    align-items: center;
    padding: 0.8rem 0;
}

.main__div__info h3 {
	font-size: 1.6rem;
	margin: 1.6rem 0;
}

li h4 {
    padding-left: 0.6rem;
}

a:houver {
	cursor:pointer;
}

li a {
    color: var(--mainBackground);
}

.main__div__textIntro {
    position: relative;
    left: 270px;
    padding: 15px 0px;
    height: 200px;
    width: 30rem;
}

.main__div__textDescription {
    position: relative;
    left: 270px;
    padding: 15px 0px;
    height: 500px;
    width: 30rem;
}

.main__section h2 {
    font-size: 2em;
    font-weight: bold;
    color: var(--textColorTitle);
}

.main__div__textDescription li {
    list-style-type:disc;
}