:root {
	--MainBackground: rgb(201 198 198);
    --DivBoxBackground: rgb(116 71 71);
    --DivInfoBackground: rgb(156, 99, 99);
}

.main__section {
    height: 50rem;
    margin: 0 20px;
    background-color: var(--MainBackground);
    
}

.main__img__profile {
    top: 5%;
    padding: 0px 0.85em;
    position: absolute;
    border-radius: 95px;
    height: 240px;
    width: 230px;
}

.main__div__box  {
    position: absolute;
    width: 16rem;
    height: 19rem;
    top: 25px;
    background-color: var(--DivBoxBackground) ;
    border-radius: 20px 0 0 0;
}

.main__div__info {
    padding: 0.5rem;
    position: absolute;
    width: calc(100% - 1.4em);
    top: 300px;
    background-color: var(--DivInfoBackground) ;
    border-style: solid;
    border-width: 0.2em;
    border-color: var(--DivBoxBackground);
    border-radius: 0 0 15% 0;    
}

.main__div__info ul {
	color:  var(--MainBackground);

}

.main__div__info li {
	font-size: 1rem;
    display: inline-flex;
    align-items: center;
    padding: 0.8rem 0;

}

.main__div__info h3 {
	font-size: 1.6rem;
	margin: 1.6rem 0;
}

h4 {
    padding-left: 0.6rem;
}

a:houver {
	cursor:pointer;
}

.main__div__textIntro {
    position: relative;
    left: 270px;
    padding: 15px 0px;
    height: 200px;
    width: 30rem;
}

.main__div__textDescription {
    position: relative;
    left: 270px;
    padding: 15px 0px;
    height: 500px;
    width: 30rem;
}
